<!-- fetching using angular's $http service;
#20 https://github.com/curran/screencasts/tree/gh-pages/introToAngular/examples/snapshots/snapshot20
-->

<!DOCTYPE html>
<html ng-app="countryApp">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.min.js"></script>
    <script src="main.js"></script>
</head>
<body ng-controller="CountryCtrl">

<!--adding a search -->
Search: <input ng-model="query" type="text">
<table>
    <tr>
<!-- adding sort -->
    <th> <a href="" ng-click="sortField = 'name' ">Country</a></th>
    <th> <a href="" ng-click="sortField='population' ">Population</a></th>
        <th>Flag</th>
        <th>Capital</th>
        <th><a href="http://en.wikipedia.org/wiki/List_of_countries_by_GDP_(PPP)">GDP (PPP)</a></th>
    </tr>
<!--adding sort - sortfield has no quotes-->

    <tr ng-repeat="country in countries | filter:query | orderBy:sortField ">
<!-- descending order<tr ng-repeat="country in countries | filter:query | orderBy:'-population' "> -->
        <td>{{country.name}}</td>
        <td>{{country.population}}</td>
<!-- adding country flag and changed json file -->
 <!--must stop making this mistake :)  <td>img src="{{country.flagURL}}" width= "100" </td> -->
        <td><img ng-src="{{country.flagURL}}" width="100"></td>
        <td>{{country.capital}}</td>
        <td>{{country.gdp | currency}}</td>
    </tr>
</table>
</body>
</html>