<!-- fetching using angular's $http service;
#20 https://github.com/curran/screencasts/tree/gh-pages/introToAngular/examples/snapshots/snapshot20
-->

<!DOCTYPE html>
<html ng-app="countryApp">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.min.js"></script>
    <script src="main.js"></script>
</head>
<body ng-controller="CountryCtrl">

<!--adding a search -->
Search: <input ng-model="query" type="text">
<table>
    <tr>
    <th>Country</th>
    <th>Population</th>
    </tr>
<!--part 2 of search functionality, adding | filter:query"-->
    <tr ng-repeat="country in countries | filter:query | orderBy:'-population' ">
<!-- descending order<tr ng-repeat="country in countries | filter:query | orderBy:'-population' "> -->
        <td>{{country.name}}</td>
        <td>{{country.population}}</td>
    </tr>
</table>
</body>
</html>